* {
    box-sizing: border-box;
}

body {
    background-color: #eeeef7;
}

header {
    display: flex;
    align-self: center;
    background: #313430;
}

section h1 {
    display: block;
    background-color: #92ccce;
    padding-left: 200px;
}
h1 {
    display: flex;
    text-align: right;
    font-size: 3em;
    color: #313430;
}

.links {
    list-style: none;
}

.links li  {
    display: inline-block;
    padding: 50px 70px;
}

.links li a {
    flex-wrap: wrap;
    font-size: 20px;
    color: #92ccce;
    border-bottom: 2px solid #92ccce;
    text-decoration: none;
}

.links a:hover {
    color: white;
    font-weight: bold; 
}

#water {
    background: url(https://images.pexels.com/photos/311039/pexels-photo-311039.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    padding: 15px;
}

.Martin {
    display: flex;
    float: left;
    border-radius: 50%;
}

h2 {
    color: #445877;
    background-color: #92ccce;
}

.bottomright {
    position: absolute;
    bottom: 140px;
    right: 140px;
    font-size: 80px
}

.About {
    display: flex;
    margin-bottom: 10px;
}

p {
    display: flex;
}

.Paragraph {
    width: 70%;
    margin-left: 15px;
}

.Work {
    display: flex;
    margin-bottom: 10px;
}

#projects {
    width:70%;
    margin-left: 20px;
    margin-right: 20px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px
}

.project {
    
    display: flex;
    border: 8px solid #92ccce;
    position: relative;
}

#code {
    background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    width: 1300px;
    height: 300px;
    padding-left: 30px;
    background-repeat: no-repeat;
}

.text {
    background-color: #92ccce;
    height: 80px;
    width: 160px;
    position: absolute;
    left: 0;
    top: 140px;
}

#code2 {
    background-image: url(https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    width: 600px;
    height: 300px;
    padding-left: 30px;
    background-repeat: no-repeat;
}

.side-headings {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    width: 20%;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    border-right: #445877 5px solid;
    color: #445877;
    font-weight: 800;
    margin: 0%;
}

footer {
    display: flex;
}

.contactMeBox {
    display: flex;
}

.contactMe {
    list-style-type: none;
}

.contactMe li {
    display: inline-flex;
    padding: 50px 90px;
}

.contactMe li a {
    color: #445877;
    border-bottom: 3px solid  #445877;
    text-decoration: none;

}