* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeef7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313430;
}

header h1 {
    width: auto;
    background-color: #92ccce;
    padding-left: 100px;
    font-size: 3em;
    color: #313430;

}

ul.links {
    padding-right: 5em;
}

.links {
    display: inline-block;
    list-style: none;
}

.links a {
    flex-wrap: wrap;
    font-size: 25px;
    color: #92ccce;
    border-bottom: 2px solid #92ccce;
    padding: 6px;
    text-decoration: none;
}

.links a:hover {
    color: white;
    font-weight: bold; 
}

.water {
    display: flex;
    position: relative;
    background: url(https://images.pexels.com/photos/311039/pexels-photo-311039.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding: 15px;
}

.Martin {
    display: flex;
    float: left;
    border-radius: 50%;
}

header.water {

    margin-bottom: 20px;
}

.water h2 {
    position: absolute;
    bottom: 0px;
    right: 70px;
    font-size: 50px;
    color: #445877;
    background-color: #92ccce;
    padding: 0;
    margin-bottom: 0;
}

.About {
    display: flex;
    margin-bottom: 10px;
}

p {
    display: flex;
}

.Paragraph {
    width: 70%;
    margin-left: 15px;
}

.Work {
    display: flex;
    margin-bottom: 10px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 20px;
}

.project {

    border: 8px solid #92ccce;
    position: relative;
    margin: 6px;
}

#code {
    background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    width: 1300px;
    height: 300px;
    overflow: hidden;
}

.text {
    background-color: #92ccce;
    height: 80px;
    width: 160px;
    position: absolute;
    top: 140px;
}

#code2 {
    background-image: url(https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.side-headings {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    width: 20%;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    border-right: #445877 5px solid;
    color: #445877;
    font-weight: 800;
    margin: 0%;
}

footer {
    display: flex;
}

.contactMe {
    list-style-type: none;
}

.contactMe li {
    display: inline-block;
    padding: 50px 90px;
}

.contactMe li a {
    color: #445877;
    border-bottom: 3px solid  #445877;
    text-decoration: none;

}

@media only screen and (max-width: 950px) {
    
    header {
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
    }
    
    header h1 {
        padding: 0;
    }

    .side-headings {
        margin-bottom: 1em;
        margin-right: 0;
        padding-bottom: 5px;
        padding-bottom: 5px;
        text-align: center;
        width: 32%;
        padding:5px;
    }

    #section-contactme {
        width: auto;
        text-align: center;

    }

    ul.links {
        margin: 0;
        padding: 15px;
        width: auto;
        text-align: center;
    }

    div #code .project {
        width: auto;
        align-items: center;
    }

    div#code2.project {
        align-items: center;
    }
}
