* {
    box-sizing: border-box;
}

body {
    background-color: #eeeef7;
    margin: 2px;
}

header {
    background: #31343d;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.Martin {
    border-radius: 50%;
}

nav {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin: 0;
    opacity: 0.70;
    background-color: black;
    white-space: nowrap;
}

nav li {
    display: inline-block;
    padding: 0 25px 1px 25px;
    font-size: 20px
}

nav li a {
    text-decoration: none;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

nav li a:hover {
    color: cyan;
    font-weight: bold; 
}

.contact {
    margin-bottom: 10px;
    border-radius: 5px;
    flex-direction: row;
}

.Info {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    color: black;

}